.login {
	text-align: center;
}

.login form {
	width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.signup {
	width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input#u_mail {
	margin: 4px;
}

input#u_pwd {
	margin: 4px;
}

.blank {
	height: 150px;
}

.logo {
	height: 75%;
	margin-top: 2%;
}

.button_connexion {
	margin: 5px;
}

.button_inscription {
	background-color: CYAN;
}

.errorMessage {
	color: RED;
}