.user {
	
}

.infos_quantite {
    display: inline-flex;
}

.infos_quantite div{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.infos_quantite a{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.infos_user {
	display: flex;
	margin: 15px;
	padding: 10px;
    border: grey solid 1px;
    background-color: aliceblue;
}

.infos_user2 {
	margin-left: 2%;
	margin-right: 2%;
}

.infos_user3 {
	margin-left: auto;
	margin-right: 2%;
}

.photo_profil
{
	margin: 5px;
	width:100px;
	height:100px;
	background-color: green;
}

.user_name {
	margin: 15px;
	margin-left: 0px;
	font-weight: 700;
	font-size: 150%;
	text-decoration: underline;
}

	.button_ajout {
		margin-bottom: 15px;
	}

.publications_user {
	margin: 15px;
}

.input_infos_user {
	text-align: center;
}

.input_infos_user form {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}


#input_name {
	margin-left: 63px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#input_desc {
}

#input_email {
	margin-left: 57px;
	margin-bottom: 10px;
}

.input_infos_user button {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}


button.button_delete_user {
	width: auto;
    background: none;
    border: none;
    color: black;

}